body
{
	background-color:#222;
	color:#0d0;
	font-family:'Fira Sans', sans-serif;
	font-size: 16px;
}

#display
{
	display:block;
	left:50%;
	width:auto;
	font-family: 'JunctionRegular';
	font-weight: normal;
	font-style: normal;
	font-size: 48px;
}

.tg
{
	border-collapse:collapse;
	border-spacing:0;
}

.tg td
{
	overflow:hidden;
	padding:10px 12px;
	word-break:normal;
}

tr td::first-child {
	border-right: 1px solid gold;
}

.tg th
{
	border-top: 1px solid #0d0;
	border-bottom: 1px solid #0d0;
	overflow:hidden;
	padding:10px 12px;
	word-break:normal;
}

.tg .tg-k9ij
{
	text-align:center;
	vertical-align:top;
}

.tg .tg-isb1
{
	text-align:center;
}

.tg .tg-gq9a
{
	text-align:center;
}
#container{
	width: 540px;
	height: auto;
	left: calc(50% - 270px);
	display: block;
	position: relative;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

table{
	width: 100%;
	table-layout: fixed;
}

pre{
	width: 100%;
	text-align: center;
}
